body {
  margin: 0;
}
h2 {
  color: #16e0bd;
}
/***********************************  header *****************/

header {
  background-color: rgb(17, 28, 41);
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.nav-list {
  list-style: none;
}
.nav-item {
  display: inline-block;
  padding: 15px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.intor {
  background-color: #16e0bd;
  color: #fff;
  text-align: center;
  padding: 35px;
}

.intor img {
  margin: 20px;
  padding-top: 10px;
}

/*********************************** portfolio *************************/

#portfolio {
  text-align: center;
}
/*testing****************************** testing media ******************/
@media (min-width: 600px) {
  .portfolio-section {
    display: flex;
  }

  .portfolio-list {
    width: 80%;
    margin: auto;
    padding: 10px;
  }

  .portfolio-img {
    padding: 10px;
  }

  .portfolio-item {
    margin: 5px;
  }

  .portfolio-text {
    width: 50%;
    padding: 10px;
    margin-right: 5px;
  }
}
/****************************** about ************************/

#about {
  text-align: center;
}

.about-section {
  background-color: #16e0bd;
  color: #fff;
  padding: 15px;
}
/*testing*************************** testing ******************/
@media (min-width: 600px) {
  .about-content {
    display: flex;
    width: 50%;
    margin: auto;
    padding: 10px;
  }
}

/****************************** contact *************************/

#contact {
  text-align: center;
}
.contact-section {
  padding: 20px;
}
.contact-text {
  text-align: center;
}
.email {
  text-decoration: none;
  color: #16e0bd;
}

/**************************** footer ****************************/

.footer-web {
  display: flex;
  justify-content: space-around;
  background-color: rgb(17, 28, 41);
  color: #fff;
  margin-bottom: 0;
  padding: 15px;
}
#location-footer-web {
  color: #fff;
}

.copyright {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 7px;
}
.web-button {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.web-button button {
  margin: 10px;
}

.star-div {
  text-align: center;
}

/******************************* white star ******************/

.star-white {
  color: #fff;
  margin: 0px auto;
}

.star-line-white {
  display: inline-flex;
  color: #fff;
  width: 4%;
}

/******************************* black star ***********************/
.star-black {
  color: #000;
  margin: 0px auto;
}

.star-line-black {
  display: inline-flex;
  color: #000;
  width: 4%;
}

/**************************** Social buttons *********************/

.fa {
  padding: 5px;
  margin: 5px;
  font-size: 7px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border: 0.5px solid #fff;
  border-radius: 50%;
}

.fa-facebook,
.fa-google,
.fa-linkedin {
  background-color: inherit;
  color: #fff;
}
